#wallpapers{ data: { total_pages: @wallpapers.total_pages } }
  %div{ class: 'page loaded', data: { page: @page } }
    %span page #{ @page }

  = @body.html_safe

- content_for :javascript do
  = javascript_tag 'new Wallpapers()'