<nav>
  <ul>
    <li class='title'>{{#linkTo 'wallpapers.index'}}Wallpapers{{/linkTo}}</li>
    <li>{{#linkTo 'wallpapers.new'}}New{{/linkTo}}</li>
    <li>Pending</li>
  </ul>

  <ul>
    <li class='title'>Tags</li>
    <li>New</li>
    <li>Pending</li>
  </ul>

  <ul>
    <li class='title'>Sources</li>
    <li>New</li>
  </ul>
</nav>

<header>{{header}}</header>

<section>
  <article>{{outlet}}</article>
</section>